
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

section {
  scroll-margin-top: 80px; /* offset for sticky navbar */
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #f8f9fa;
}
